<div class="container">
    <a href="/home/user_data" class="waves-effect waves-light btn orange lighten-1">유저정보 가져오기</a>
    <a href="/home/user_view" class="waves-effect waves-light btn orange">유저정보 보기</a>
    <a href="/home/idea_data" class="waves-effect waves-light btn orange darken-1">아이디어정보 가져오기</a>
    <a href="/home/idea_view" class="waves-effect waves-light btn orange darken-2">아이디어정보 보기</a>
    
</div>